* {
    margin: 0;
    padding: 0;
}

header{
    background-color: rgb(187, 178, 226);
    position: sticky;
    top: 0;
    margin-top: 50px;
    height: 50px;
    z-index: 20;
}
.parent{
background-color: rgb(238, 222, 228);   
margin: 100px; 
position: relative;
}
/* .block{
    width: 100px;
    height: 100px;

} */
.blue{
    background-color: blue;
    width: 100px;
    height: 100px;
}
.red{
    width: 100px;
    height: 100px;
    background-color: rgb(255, 0, 200);
    position: absolute;
    top: 0px;
    right: 10px;
}

.yellow{
    background-color: rgb(168, 161, 59);
    position: fixed;
    margin: 0; 
    height: 100px;
    width: 600px;
     bottom: 50px;
}