* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.block {
    background-color: black;
    margin: 100px auto;

    width: 50vh;
    height: 15vh;
    display: block;

}

button {
    display: block;
    margin: 100px auto;
    width: 48vh;
    height: 13vh;
    background-color: blue;
    color: white;
    font-size: 34px;
    border-radius: 25px;
     border-width: 0; 
}